/* Aitor Gómez Ogueta UO294066 */

/*
    Colores: Background #E3D6D1 (marrón suave), Foreground #40423E (gris fuerte), 
    Segundo Background #F2F2F2 (blanco roto), Foreground Título #21557D (azul marino)
*/

/* Specificity: (0, 0, 1) */
body {

    font-family: Helvetica, Arial, sans-serif;
    background-color: #E3D6D1;
    color: #40423E;

}

/* Specificity: (0, 0, 1) */
header {

    background-color: #F2F2F2;
    color: #21557D;

}

/* Specificity: (0, 1, 2), (0, 1, 2), (0, 1, 2), (0, 1, 2) */
h1 a, nav a, h1 a:visited, nav a:visited{

    text-decoration: none;
    color: #21557D;
    /* Background-color se hereda de header */

}

/* Specificity: (0, 1, 2) */
body p:first-of-type {

    font-size: 0.65em;
    /* Color se hereda de header */
    /* Background-color se hereda de header */

}

/* Specificity: (0, 1, 2) */
body p:first-of-type a, body p:first-of-type a:visited {

    text-decoration: none;
    color: #21557D;
    /* Background-color se hereda de body */

}