/* Aitor Gómez Ogueta UO294066 */

/* Specificity: (0, 0, 1) */
header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #E3D6D1;
    color: #21557D;

}

/* Specificity: (0, 0, 1) */
nav {

    display: flex;
    gap: 1.2em;

}

/* Specificity: (0, 0, 0) */
@media (max-width: 1100px) {

    header {

        flex-direction: column;
        text-align: center;

    }

    nav {

        flex-direction: column;
        gap: 0.8em;

    }

}